* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #1e1033;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*navigation bar*/
.navbar__section {
  background-color: transparent;
  color: white;
}

.navbar__section ul {
  padding: 10px;
  list-style: none;
  right: 0;
  margin: 0 10px;
}
.abhiyantriki_logo img {
  width: 250px !important;
  z-index: 1;
}
.somaiya_logo {
  float: right;
}

.navbar__section li {
  display: inline;
  margin-right: 5px;
}

.navbar__section li img {
  /* width: 250px;
  height: 80px; */
}

/*coming-soon section*/
.coming-soon__section {
  color: black;
  text-align: center;
  padding: 30px 5px;
  margin: auto;
  width: 500px;
  color: white;
  font-family: "Cutive Mono", monospace;
  /* font-family: "Merienda One", cursive; */
}

.coming-soon__section h1 {
  font-size: 5em;
  font-weight: 400;
  color: white;
  /* font-family: 'Kaushan Script', cursive; */
  font-family: "VT323", monospace;
}
.coming-soon-gif {
  background: url("/img/Backup_of_Backup_of_logo_5.gif");
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 300px;
  margin: auto 25%;
}

.coming-soon__section p {
  font-size: 20px;
}
/* ----------------------------Countdown CSS---------------------------- */
/*coutdown_timer*/
.countdown p {
  font-size: 2.5em;
}

.countdown {
  float: right;
  margin-right: 17.5%;
  background-color: cadetblue;
}

.countdown__section {
  float: right;
  margin-top: 50px;
  margin-right: 200px;
  /* background-color: peru; */
  height: 80%;
  width: 32%;
  padding: 10px;
  font-size: 20px;
}

.countdown__section td {
  padding: 10px;
}

/*---------------------------------Sidebar---------------------------------*/
.social-media__section {
  /* height: 45%;*/
  width: 55px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  margin-top: 100px;
  padding-top: 15px;
}

.social-media__section a {
  padding: 6px 8px 6px 18px;
  text-decoration: none;
  font-size: 25px;
  color: #ccc;
  display: block;
  transition: 0.5s;
  overflow: hidden !important;
}

.social-media__section ul li a:hover {
  color: purple;
  transform: scale(1);
  overflow: hidden !important;
}

.mobile-social-media-section {
  display: none;
}

/* .img1 {
  position: absolute;
  //top: 10px;
  //left: 10px;
  width: 100%;
  height: 200vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #000000;
  z-index: -2;
} */
/* ---------------------------GIF Effect-------------------------- */
.img2 {
  position: absolute;
  /* top: 25px;
  left: 25px; */
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #000000;
  opacity: 25%;
  z-index: -1;
}

/* ----------------------Game CSS------------------------ */
.game_section {
  margin: 0;
  position: relative;
}
.game-button {
  background-color: #ccc;
  display: inline-block;
  margin: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  font-size: 1.5em;
}
.tooltipText {
  display: inline-block;
  margin: 0;
  background-color: black;
  color: white;
  font-size: 1.1rem;
  padding: 5px 8px;
  margin-left: 15px;
}
.tooltipText1 {
  display: inline-block;
  margin: 0;
  background-color: black;
  color: white;
  font-size: 1.1rem;
  padding: 5px 8px;
}
.container {
  background-color: transparent;
  margin: 0;
  padding-top: 10px;
}
.win {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 130px;
  font-family: sans-serif;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", */
  /* "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
}
.hidden {
  display: none;
}
/* PLAY AGAIN CONFIG-1 */
h1 {
  color: white;
  font-size: 2.5rem;
}
.box {
  width: 300px;
  height: 110px;
  border-radius: 10px;
  text-align: center;
  background-color: black;
  border: 2px solid white;
}
.btn {
  background-color: black;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px 12px;
  border: 2px solid white;
  outline: 0;
  transition: all 0.3s;
}
.btn:hover {
  background-color: white;
  color: black;
  font-weight: 600;
}
/* PLAY AGAIN CONFIG-2 */
/* h1 {
  color: black;
  font-size: 2.5rem;
}
.box {
  width: 300px;
  height: 110px;
  border-radius: 10px;
  text-align: center;
  background-color: #DCDCDC;
  border: 2px solid black;
}
.btn {
  background-color: black;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid black;
  outline: 0;
}
.btn:hover{
  color: purple;
} */

/* -------------- Media Queries ------------------- */
@media (max-width: 768px) {
  .mobile-social-media-section {
    display: block;
    width: 100%;
    margin: 30px auto;
  }
  .mobile-social-media-inner-section {
    width: 80%;
    margin: auto;
  }
  .social-media__section {
    display: none;
  }
  .mobile-social-media-section a {
    padding: 0 10px;
    text-decoration: none;
    font-size: 25px;
    color: #ddd;
    display: block;
    transition: 0.5s;
    display: inline;
  }
  .container {
    padding: 0;
  }
  .coming-soon__section {
    width: 300px;
  }
  .win {
    left: 13%;
  }
  .abhiyantriki_logo img {
    width: 90px !important;
    z-index: 1;
  }
  .somaiya_logo {
    /* width: 40px !important;
    height: 40px !important; */
    transform: scale(0.7);
    margin: 0;
  }
  .img2 {
    height: 125vh;
  }
  .coming-soon-gif {
    margin: auto 10%;
  }
}
