* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: darkmagenta;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #testing{
  background-color: darkmagenta;
  z-index: 0;
}

#testing img{
  z-index: 1;
  opacity: 20%;
} */

/*navigation bar*/
.navbar__section {
  background-color: transparent;
  color: white;
  z-index: -1;
}

.navbar__section ul {
  padding: 10px;
  list-style: none;
  right: 0;
  margin-left: 10px;
}

.navbar__section li {
  display: inline;
  margin-right: 5px;
}

.navbar__section li img {
  width: 50px;
  height: 50px;
}

/*coming-soon section*/
.coming-soon__section {
  color: black;
  text-align: center;
  padding: 30px 5px;
  margin: auto;
  width: 400px;
  color: white;
  /* font-family: "Merienda One", cursive; */
}

.coming-soon__section h1 {
  font-size: 5em;
  font-weight: 400;
  color: white;
  /* font-family: 'Kaushan Script', cursive; */
  font-family: 'VT323', monospace;
}

.coming-soon__section p {
  font-size: 20px;
}

/*coutdown_timer*/
.countdown p {
  font-size: 2.5em;
}

.countdown {
  float: right;
  margin-right: 17.5%;
  background-color: cadetblue;
}

.countdown__section {
  float: right;
  margin-top: 50px;
  margin-right: 200px;
  /* background-color: peru; */
  height: 80%;
  width: 32%;
  padding: 10px;
  font-size: 20px;
}

.countdown__section td {
  padding: 10px;
}

/*sidebar*/
.social-media__section {
  /* height: 45%;*/
  width: 55px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  margin-top: 100px;
  padding-top: 15px;
}

.social-media__section a {
  padding: 6px 8px 6px 18px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
  overflow: hidden !important;
}

.social-media__section ul li a:hover {
  color: purple;
  transform: scale(1);
  overflow: hidden !important;
}

.mobile-social-media-section {
  display: none;
}

/* .img1 {
  position: absolute;
  //top: 10px;
  //left: 10px;
  width: 100%;
  height: 200vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #000000;
  z-index: -2;
} */
.img2 {
  position: absolute;
  /* top: 25px;
  left: 25px; */
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #000000;
  opacity: 35%;
  z-index: -1;
}

/* ----------------------Game CSS------------------------ */
.game_section {
  margin: 0;
  position: relative;
}
.game-button {
  background-color: #ccc;
  display: inline-block;
  margin: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  font-size: 1.5em;
}
.tooltipText {
  display: inline-block;
  margin: 0;
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 5px 8px;
  margin-left: 15px;
}
.container {
  background-color: transparent;
  margin: 0;
  padding-top: 10px;
}
.win {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 130px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.hidden {
  display: none;
}
h1 {
  color: black;
  font-size: 2.5rem;
}
.box {
  width: 300px;
  height: 100px;
  border-radius: 15px;
  text-align: center;
  background-color: white;
}
.btn {
  background-color: black;
  color: white;
  font-size: 1rem;
  border-radius: 15px;
  cursor: pointer;
  padding: 8px 12px;
  border: 0;
  outline: 0;
}

/* -------------- Media Queries ------------------- */
@media (max-width: 768px) {
  .mobile-social-media-section {
    display: block;
    width: 100%;
    margin: 30px auto;
  }
  .mobile-social-media-inner-section {
    width: 80%;
    margin: auto;
  }
  .social-media__section {
    display: none;
  }
  .mobile-social-media-section a {
    padding: 0 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
    display: inline;
  }
  .container {
    padding: 0;
  }
  .coming-soon__section {
    width: 300px;
  }
  .win {
    left: 13%;
  }
}
