body {
  background: white;
}

.fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.aboutus {
  position: relative;
  display: block;
  height: 100vh;
}

.about {
  height: 100vh;
  width: 50%;
  position: absolute;
}

.a-1 {
  background: red;
}

.a-2 {
  background: green;
  transform: translate(50%, -100vh);
}

.a-3 {
  background: lightblue;
  transform: translate(0vh, 100vh);
}

.a-4 {
  background: black;
  transform: translate(50%, 0vh);
}

.scroll {
  background: white;
  height: 100vh;
  width: 100%;
}

.events {
  background: yellow;
  height: 100vh;
  width: 100%;
}
