.navbar {
    width: 100%;
    height: 15vw;
    display: -ms-flexbox;
    display: flex;
    z-index: 1
}

.navbar img {
    width: 54%;
    height: 100%;
    float: left;
    position: relative
}

@font-face {
    font-family: Coves Bold;
    src: url("Coves Bold.otf") format("opentype")
}

.pushmenu {
    background: #29001B;
    text-align: center;
    font-family: Coves Bold, Geneva, sans-serif;
    width: 250px;
    height: 100%;
    top: 0;
    z-index: 1000;
    position: fixed
}

.pushmenu h3 {
    color: #f1f1f1;
    font-size: 1.3em;
    font-weight: 400;
    padding: 15px 25px;
    margin: 0;
    background: #333;
    height: 16px
}

.links {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 0%;
    width: 100%;
    overflow-y: scroll;
    height: 100vh
}

.links li {
    margin-top: 30px
}

.links li a {
    position: relative;
    display: block;
    color: #f1f1f1;
    font-size: 1.3em;
    font-weight: 400;
    text-decoration: none;
    padding: 14px
}

.links li a:after {
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    bottom: -5px;
    width: 0;
    height: 4px;
    background-color: #f1f1f1;
    transition: width 0.3s ease
}

.links li a:hover:after {
    width: 70%
}

.links li a:active {
    color: #DB4C1C
}

.pushmenu-left {
    right: -250px
}

.pushmenu-left.pushmenu-open {
    right: 0
}

.pushmenu-push {
    overflow-x: hidden;
    position: relative;
    right: 0
}

.pushmenu-push-toright {
    right: 250px
}

.pushmenu,
.pushmenu-push {
    transition: all 0.5s ease
}

.desktop_nav {
    display: none
}

.mobo_nav {
    display: block
}

#nav_list {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%
}

#nav_list input {
    display: none
}

path {
    fill: none;
    stroke: #f1f1f1;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 24;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1)
}

circle {
    fill: #fff3;
    opacity: 0
}

label:hover circle {
    opacity: 1
}

.cross input:checked + svg .line--1,
.cross input:checked + svg .line--3 {
    --length: 22.627416998
}

.cross input:checked + svg .line--2 {
    --length: 0
}

.back input:checked + svg .line--1,
.back input:checked + svg .line--3 {
    --length: 8.602325267
}

.menu--1 .line--1,
.menu--1 .line--3 {
    --total-length: 126.64183044433594
}

.menu--1 .line--2 {
    --total-length: 70
}

.menu--1 input:checked + svg .line--1,
.menu--1 input:checked + svg .line--3 {
    --offset: -94.1149185097
}

.menu--1 input:checked + svg .line--2 {
    --offset: -50
}

@media screen and (min-width:800px) {
    .mobo_nav {
        display: none
    }

    .desktop_nav {
        display: -ms-flexbox;
        display: flex
    }

    .navbar {
        width: 100%;
        height: auto;
        display: -ms-flexbox;
        display: flex;
        background: #29001B;
        position: absolute;
        top: 0;
        left: 0;
        font-family: Coves Bold, 'Roboto', Arial, Helvetica, sans-serif;
        font-size: 1.2vw;
        font-weight: 300
    }

    .navbar img {
        height: 50px;
        width: auto;
        float: left
    }

    .desktop_nav {
        float: right;
        padding: 5px;
        margin: auto;
        margin-right: 10px;
        vertical-align: middle
    }

    .desktop_nav a {
        font-size: 1vw;
        color: #F1F1F1;
        padding: 1vw;
        padding-bottom: 0.5vw;
        padding-top: 0.5vw;
        text-decoration: none;
        letter-spacing: 0;
        cursor: pointer;
        font-weight: 400;
        line-height: 2vw;
        margin: 0 1vw 0vw;
        max-width: 25vw;
        position: relative;
        text-transform: uppercase
    }

    .dropdown {
        font-size: 1vw;
        color: #F1F1F1;
        cursor: pointer;
        font-weight: 400;
        line-height: 2vw;
        max-width: 25vw;
        position: relative;
        text-transform: uppercase
    }

    .events {
        margin-top: 0.5vw;
        margin-left: 1vw;
        margin-right: 1vw
    }

    .desktop_nav a:after,
    .desktop_nav a:before,
    .dropdown:after,
    .dropdown:before {
        backface-visibility: hidden;
        border: 1px solid rgba(97, 0, 63, 0);
        bottom: 0;
        content: " ";
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0
    }

    .desktop_nav a:hover:after,
    .desktop_nav a:hover:before,
    .dropdown:hover:after,
    .dropdown:hover:before {
        backface-visibility: hidden;
        border-color: #f1f1f1;
        transition: width 350ms ease-in-out;
        width: 70%
    }

    .desktop_nav a:hover:before,
    .dropdown:hover:before {
        bottom: auto;
        top: 0;
        width: 70%
    }
}

.expo-drop {
    display: none;
    position: absolute;
    background: #29001B;
    
}

.drop-content {
    display: none;
    position: relative
}
 
.show-drop {
    display: block
}

.social-left {
	position: fixed;
	margin: 0%;
	width: 4%;
	height: 100%;
	top: 6%;
	/*left: -3%*/
}

#social {
	position: relative;
	margin: 0;
	width: 40%;
	height: 65%;
	top: 12%;
	left: -7%;
	padding-left: 7%;
	background-color: #29001B;
}

.social-media {
	position: relative;
	width: 100%;
	height: 50%;
	top: 3%;
	left: 13%
}

.icon-fa {
	color: #f9edeb

}

.icon-fa:hover {
	color: #DB4C1C
}

#kjscelive {
	position: absolute;
	width: 120%;
	height: auto;
	left: -23%;
	top: 0%
}

#kjscelive:hover {
	filter: saturate(8)
}

#facebook {
	position: absolute;
	width: 100%;
	height: auto;
	left: -25%;
	top: 15%
}

#twitter {
	position: absolute;
	width: 45%;
	height: auto;
	left: 4%;
	top: 30%
}

#snapchat {
	position: absolute;
	width: 45%;
	height: auto;
	left: 4%;
	top: 45%
}

#instagram {
	position: absolute;
	width: 45%;
	height: auto;
	left: 4%;
	top: 60%
}

#youtube {
	position: absolute;
	width: 45%;
	height: auto;
	left: 4%;
	top: 75%
}

#wordpress {
	position: absolute;
	width: 45%;
	height: auto;
	left: 4%;
	top: 90%
}

.vertical-solid-line {
	position: absolute;
	top: 55%;
	left: 45%;
	width: 0%;
	height: 20%;
	border: 0.5px solid #f9edeb
}

.rotate {
	position: absolute;
	top: 88%;
	left: -76%;
	transform: rotate(-90deg);
	font-family: 'Roboto', sans-serif;
	color: #f9edeb;
	font-size: 1vw
}

.follow {
	width: 243%
}

@media screen and (max-width:800px) {
	.social-left {
		position: relative;
		margin: 0%;
		width: 50%;
		height: 100px;
		top: 0%;
		left: 0%
	}
	#social {
		position: relative;
		margin: 0;
		width: 100%;
		height: 100%;
		top: 0%;
		left: 0%;
		margin-top: 120%;
		padding-left: 0%;
		background-color: transparent
	}
	.social-media {
		position: relative;
		width: 170%;
		height: auto;
		top: 12%;
		left: -35%
	}
	.icon-fa {
		color: #f9edeb
	}
	.icon-fa:hover {
		color: #DB4C1C
	}
	#kjscelive {
		position: relative;
		width: 13%;
		height: auto;
		left: 0%;
		top: 1%
	}
	#kjscelive:hover {
		filter: saturate(8)
	}
	#facebook {
		position: relative;
		width: auto;
		height: auto;
		overflow-x: visible;
		left: 0%;
		top: 0%;
		margin: 4px;
		font-size: 23px
	}
	#twitter {
		position: relative;
		height: auto;
		width: auto;
		margin: 4px;
		font-size: 23px;
		left: 0%;
		top: 0%
	}
	#snapchat {
		position: relative;
		height: auto;
		width: auto;
		margin: 4px;
		font-size: 23px;
		left: 0%;
		top: 0%
	}
	#instagram {
		position: relative;
		height: auto;
		width: auto;
		margin: 4px;
		font-size: 23px;
		left: 0%;
		top: 0%
	}
	#youtube {
		position: relative;
		width: auto;
		height: auto;
		margin: 4px;
		font-size: 23px;
		left: 0%;
		top: 0%
	}
	#wordpress {
		position: relative;
		width: auto;
		height: auto;
		font-size: 23px;
		margin: 4px;
		left: 0%;
		top: 0%
	}
	.vertical-solid-line {
		position: relative;
		width: 80%;
		height: 0%;
		border: 0.5px solid #f9edeb;
		margin: 2% 5%;
		top: 0%;
		left: 0%
	}
	.rotate {
		position: relative;
		top: 0%;
		left: 0%;
		transform: rotate(0deg);
		font-family: 'Roboto', sans-serif;
		color: #f9edeb;
		font-size: 16px
	}
	.follow {
		width: 100%
	}
}


body {
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400
}

img {
    width: 100%;
    height: auto
}

.full_container {
    margin: 0;
    min-height: 100vh;
    -ms-flex-line-pack: center;
    align-content: center;
    background: #29001B;
}

.abs {
    position: absolute
}

.hero {
    margin: auto;
    width: 100vw
}

.glitch {
    margin: auto;
    margin-bottom: 5vw;
    width: 35vw
}

.developed {
    color: #f1f1f1;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    font-weight: 400;
    background: #29001b;
/*    padding-top: 5vw;*/
    padding-bottom: 2vw;
    bottom: 0%
}
.developed a{
    text-decoration: none;
    color: #fff;
}

.big_hide {
    display: none
}

.sideButton {
    display: block;
    color: white;
    background-color: #29001B;
    border-radius: 5px;
    border: 0.5px solid #FFF4F0;
    width: 4%;
    padding: 3px 0;
    position: fixed;
    top: 13%;
    left: -1%;
    padding-left: 8px;
    z-index: 1
}

a.game,
a.regLink {
    text-decoration: none;
    color: white;
    padding: 2px
}

.sideButton:hover {
    cursor: pointer
}

.button {
    border: 2px solid #630042;
    font-size: 1.2vw;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 0.5vw 1.2vw;
   
    margin: 3vw;
    transition: all 100ms ease;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300
}

.button {
    background: #f9edeb;
    position: relative;
    overflow: hidden;
    background: #29001b;
    color: #fff;
}

.button:hover {
    color: #29001b;
    cursor: pointer
}

.button:after {
    color: #61003F;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateY(-102%);
    left: 0;
    top: 0;
    transition: 100ms ease-in-out
}

.button:hover:after {
    transform: translateY(0);
    color: #29001B;
}

.button-dark {
    
    background: #29001b;
    color: #f9edeb;
}
a.game:hover,
a.regLink:hover {
    color: #DB4C1C
}

.anim1:hover {
    transition-duration: 0.3s;
    transition-property: box-shadow;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    box-shadow: 2px 2px 2px #424141
}

.csall {
    width: 40vw
}

@media screen and (max-width:800px) {
    .glitch {
        padding-top: 25vw
    }

    .hide {
        display: none
    }

    .big_hide {
        display: block
    }

    .developed {
        color: #f1f1f1;
        font-size: 14px;
        font-weight: 400;
        padding-top: 5vw;
        padding-bottom: 2vw;
        bottom: 0%
    }

    .sideButton {
        display: block;
        color: white;
        background-color: #29001B;
        border-radius: 5px;
        border: 0.5px solid #FFF4F0;
        width: 10%;
        padding: 4px 3px;
        position: absolute;
        top: 9%;
        left: -1%
    }

    a.game,
    a.regLink {
        text-decoration: none;
        color: white;
        padding: 2px
    }

    .csall {
        width: 70vw
    }
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
    z-index: 99999999
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    top: 13px;
    font-size: 19px;
    transition: all 0.3s ease
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9)
}

#return-to-top:hover i {
    color: #fff;
    top: 5px
}
