img {
    display: block;
}
.left {
    position: relative;
    width: 100%;
    height: 90%;
    z-index: 1;
    bottom: -10%}
#left-puzzle {
    display: none;
}
#s-logo{
    width: 16%;
    right: 1vw;
    padding-left: 60vw;
}
#binary-left {
    position: absolute;
    width: 28%;
    height: auto;
    top: 70%;
    left: 85%}
#bulb {
    position: absolute;
    width: 30%;
    height: auto;
    top: 84%;
    left: 90%}
#camcorder {
    position: absolute;
    width: 23%;
    height: auto;
    top: 85%;
    left: 58%}
#cassette {
    position: absolute;
    width: 23%;
    height: auto;
    top: 25%;
    left: 75%}
#envelopes {
    position: absolute;
    width: 22%;
    height: auto;
    top: 59%;
    left: 105%}
#floppy {
    position: absolute;
    width: 20%;
    height: auto;
    top: 85%;
    left: 125%}
#game-pad {
    position: absolute;
    width: 20%;
    height: auto;
    top: 35%;
    left: 83%}
#ipad {
    position: absolute;
    width: 35%;
    height: auto;
    top: 50%;
    left: 53%}
#mouse-pointer {
    position: absolute;
    width: 12%;
    height: auto;
    top: 73%;
    left: 125%}
#nut {
    position: absolute;
    width: 20%;
    height: auto;
    top: 38%;
    left: 54%}
#papers-left {
    position: absolute;
    width: 12%;
    height: auto;
    top: 60%;
    left: 70%}
#message-left {
    position: absolute;
    width: 15%;
    height: auto;
    top: 72%;
    left: 63%}
.social-media-left {
    position: absolute;
    width: 50%;
    height: 100%}
.icon-fa {
    color: #61003F;
}
.icon-fa:hover {
    color: #DB4C1C;
}
#kjscelive {
    position: absolute;
    width: 43%;
    height: auto;
    left: 8%;
    top: 20%}
#kjscelive:hover {
    -webkit-filter: saturate(8);
    filter: saturate(8);
}
#facebook {
    position: absolute;
    width: 45%;
    height: auto;
    left: 22%;
    top: 25%}
#twitter {
    position: absolute;
    width: 45%;
    height: auto;
    left: 19%;
    top: 30%}
#snapchat {
    position: absolute;
    width: 45%;
    height: auto;
    left: 19%;
    top: 35%}
#instagram {
    position: absolute;
    width: 45%;
    height: auto;
    left: 19%;
    top: 40%}
#youtube {
    position: absolute;
    width: 45%;
    height: auto;
    left: 19%;
    top: 45%}
#wordpress {
    position: absolute;
    width: 45%;
    height: auto;
    left: 19%;
    top: 50%}
.vertical-solid-line {
    position: relative;
    top: 55%;
    left: 27%;
    width: 0%;
    height: 15%;
    border: 0.5px solid #61003F;
}
.rotate {
    position: absolute;
    top: 77%;
    left: -24%;
    width: 100%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-family: 'Roboto', sans-serif;
    color: #61003F;
    font-size: 0.8vw;
}
.images {
    position: absolute;
    display: block;
    z-index: 1;
}
#left1 {
    position: absolute;
    width: 0%;
    height: 35%;
    top: 65%;
    left: 45%}
#left2 {
    position: absolute;
    width: 0%;
    height: 2%;
    top: 98%;
    left: 105%}
a {
    text-decoration: none;
}
@media screen and (max-width:800px) {
    img {
    display: block;
}

#s-logo{
    width: 38%;
    right: 1vw;
    padding-left: 60vw;
}

.left {
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0%;
    left: 0%;
    overflow-x: visible;
}
#binary-left {
    display: none;
}
#bulb {
    position: absolute;
    width: 20%;
    height: auto;
    top: 7%;
    left: 10%}
#camcorder {
    display: none;
}
#cassette {
    position: absolute;
    width: 18%;
    height: auto;
    top: 0%;
    left: 65%}
#envelopes {
    display: none;
}
#floppy {
    display: none;
}
#game-pad {
    display: none;
}
#ipad {
    display: none;
}
#mouse-pointer {
    display: none;
}
#nut {
    position: absolute;
    width: 15%;
    height: auto;
    top: 15%;
    left: 28%}
#papers-left {
    display: none;
}
#message-left {
    position: absolute;
    width: 15%;
    height: auto;
    top: 10%;
    left: 36%}
.social-media-left {
    display: none;
}
.images {
    position: absolute;
    display: block;
    z-index: 1;
}
#left1 {
    position: absolute;
    width: 0%;
    height: 35%;
    top: -25%;
    left: 5%}
#left2 {
    display: none;
}
a {
    text-decoration: none;
}
}img {
    display: block;
}
.hovered {
    -webkit-animation: float 3s ease-in-out;
    animation: float 3s ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.social-media-right {
    display: none;
}
.right {
    position: relative;
    width: 100%;
    height: 90%}
#right-gallery {
    display: none;
}
#mouse-pointer-right {
    display: none;
}
#sat {
    position: absolute;
    width: 48%;
    height: auto;
    top: 2%;
    right: 60%}
#laptop {
    position: absolute;
    width: 50%;
    height: auto;
    top: 30%;
    right: 55%}
#UP {
    position: absolute;
    width: 20%;
    height: auto;
    top: 7%;
    right: 32%}
#message {
    position: absolute;
    width: 20%;
    height: auto;
    top: 29%;
    right: 44%}
#pause {
    position: absolute;
    width: 12%;
    height: auto;
    top: 9%;
    right: 8%}
#ladder {
    position: absolute;
    width: 16%;
    height: auto;
    top: 42%;
    right: 50%}
#VR {
    position: absolute;
    width: 48%;
    height: auto;
    top: 19%;
    right: 97%}
#ROVER {
    position: absolute;
    width: 55%;
    height: auto;
    top: 50%;
    right: 77%}
#phone {
    position: absolute;
    width: 41%;
    height: auto;
    top: 87%;
    right: 39%}
#ff {
    position: absolute;
    width: 29%;
    height: auto;
    top: 59%;
    right: 33%}
#papers {
    position: absolute;
    width: 15%;
    height: auto;
    top: 18%;
    right: 49%}
#pulley {
    position: absolute;
    width: 30%;
    height: auto;
    top: 39%;
    right: 15%}
#hp {
    position: absolute;
    width: 35%;
    height: auto;
    top: 62%;
    right: 3%}
#car {
    position: absolute;
    width: 63%;
    height: auto;
    top: 71%;
    right: 62%}
.crop {
    width: 31%;
    height: 25%;
    overflow: hidden;
    position: absolute;
    top: 25%;
    right: 0%}
#binary {
    position: absolute;
    width: 110%;
    height: auto;
    top: 0;
    left: 0;
}
#slvr {
    position: absolute;
    width: 12%;
    height: auto;
    top: 9%;
    right: 8%}
#slsat {
    position: absolute;
    width: 12%;
    height: auto;
    top: 9%;
    right: 8%}
#right1 {
    position: absolute;
    width: 0%;
    height: 23%;
    top: 0%;
    right: 115%}
#right2 {
    position: absolute;
    width: 0%;
    height: 19%;
    top: 13%;
    right: 83%}
#right-slant {
    position: absolute;
    width: 0%;
    height: 17%;
    top: 83%;
    right: 147%;
    -webkit-transform: skew(-52deg);
    transform: skew(-52deg);
}
@media screen and (max-width:800px) {
    .right {
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0%;
    left: 0%;
    overflow-x: visible;
}
#right-gallery {
    display: block;
    width: 30%;
    height: auto;
    position: relative;
    right: 20%;
    top: 50vw;
    overflow: visible;
    margin-top: 0%}
.social-media-right {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    left: -42%;
    top: 40%;
    padding-bottom: 10vw;
}
.follow-right {
    position: relative;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #61003F;
    margin-top: 10%;
    top: 5%;
    left: -8%}
.icon-fa {
    color: #61003F;
}
.icon-fa:hover {
    color: #DB4C1C;
}
#kjscelive-right {
    position: absolute;
    width: 20%;
    height: auto;
    overflow-x: visible;
    margin: 4px;
    font-size: 23px;
    top: 36%;
    left: -16%}
#facebook-right {
    position: relative;
    width: 10%;
    height: auto;
    overflow-x: visible;
    margin: 4px;
    font-size: 23px;
}
#twitter-right {
    position: relative;
    height: auto;
    width: 10%;
    margin: 4px;
    font-size: 23px;
}
#snapchat-right {
    position: relative;
    height: auto;
    width: 10%;
    margin: 4px;
    font-size: 23px;
}
#instagram-right {
    position: relative;
    height: auto;
    width: 10%;
    margin: 4px;
    font-size: 23px;
}
#youtube-right {
    position: relative;
    width: 10%;
    height: auto;
    margin: 4px;
    font-size: 23px;
}
#wordpress-right {
    position: relative;
    width: 10%;
    height: auto;
    font-size: 23px;
    margin: 4px;
}
.vertical-solid-line-right {
    position: relative;
    width: 80%;
    height: 0%;
    border: 0.5px solid #61003F;
    margin: 5%;
    top: 10%;
    left: -8%}
#right-puzzle {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    right: 60%;
    top: 5%}
#mouse-pointer-right {
    display: block;
    position: absolute;
    width: 10%;
    height: auto;
    top: 35%;
    right: 17%}
#sat {
    position: absolute;
    width: 30%;
    height: auto;
    top: 0%;
    right: 80%}
#laptop {
    position: absolute;
    width: 27%;
    height: auto;
    top: -3%;
    right: 155%}
#UP {
    display: none;
}
#message {
    display: none;
}
#pause {
    position: absolute;
    width: 12%;
    height: auto;
    top: -2%;
    right: 56%}
#ladder {
    display: none;
}
#VR {
    position: absolute;
    width: 26%;
    height: auto;
    top: 25%;
    right: 13%}
#ROVER {
    position: absolute;
    width: 38%;
    height: auto;
    top: 18%;
    right: 160%}
#phone {
    display: none;
}
#ff {
    display: none;
}
#papers {
    display: none;
}
#pulley {
    position: absolute;
    width: 20%;
    height: auto;
    top: 33%;
    right: 167%}
#hp {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    width: 20%;
    height: auto;
    top: 0%;
    right: 28%}
#car {
    position: absolute;
    width: 38%;
    height: auto;
    top: 14%;
    right: 2%}
.crop {
    display: none;
}
#binary {
    display: none;
}
#right-slant {
    display: none;
}
#right1 {
    position: absolute;
    width: 0%;
    height: 31%;
    top: -15%;
    right: 15%}
#right2 {
    display: none;
}
}.center_anti {
    position: relative;
    width: 100%;
    height: 100vh;
}
.something {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
    top: 10%;
    margin-left: 2%}
.video {
    max-width: 80%;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.video img {
    display: none;
}
.video video {
    width: 80%;
    overflow: hidden;
}
.timer {
    width: 70%;
    height: 150px;
    position: relative;
}
.content {
    max-width: 80%;
    overflow: hidden;
    color: #7D145A;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    position: relative;
}
.text {
    margin-bottom: 5%}
.gallery span {
    color: #BE4E05;
    font-family: 'Roboto', sans-serif;
    margin-top: 50%;
    font-size: 14px;
}
.gallery {
    top: 40%;
    margin-top: 10%}
.gallery img {
    margin: auto;
    margin-top: 5%}
#polaroid {
    max-width: 40px;
    margin: auto;
    margin-top: 0%}
@media screen and (max-width:800px) {
    .center_anti {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    display: block;
}
.something {
    width: 97%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
    top: 18%;
    margin-right: 2%;
    float: left;
    margin-bottom: 15%}
#center-gallery {
    display: none;
}
.video {
    margin-top: 5%;
    max-width: 80%;
    overflow: hidden;
    position: relative;
}
.video img {
    display: block;
    width: 80%;
    overflow: hidden;
}
#gif {
    width: 80%;
    overflow: hidden;
}
.video video {
    display: none;
}
.timer {
    width: 70%;
    height: 150px;
    position: relative;
}
.content {
    max-width: 100%;
    overflow: hidden;
    color: #7D145A;
    font-family: 'Roboto', sans-serif;
    font-size: 13.5px;
    margin-top: 5%;
    position: relative;
    margin: 5%;
    height: 100%}
.text {
    margin-bottom: 5%;
    font-size: 13.5px;
}
.rotate {
    position: absolute;
    top: 75%;
    left: -25%;
    width: 100%;
    display: none;
    font-family: 'Roboto', sans-serif;
    color: #61003F;
}
}@-webkit-keyframes float {
    0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
}
50% {
    -webkit-transform: translatey(-7px);
    transform: translatey(-7px);
}
100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
}
}@keyframes float {
    0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
}
50% {
    -webkit-transform: translatey(-7px);
    transform: translatey(-7px);
}
100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
}
}.puzzle {
    position: relative;
    top: 25vh;
    left: -31vw;
    width: 20vw;
    height: 20vw;
    border-style: solid;
    border-width: 5px;
    border-color: #61003F;
}
#puzzle-controls {
    position: relative;
    top: 23vh;
    left: -31vw;
    width: 20vw;
    height: 15vw;
    display: grid;
    grid-template-columns: 35% 35% 30%}
.animate {
    -webkit-animation: float 3s ease-in-out;
    animation: float 3s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
#start {
    color: #61003F;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 2vw;
    z-index: 9999;
    text-decoration: none;
    left: 2.5vw;
    width: 15vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    background-color: #FFF4F0;
    top: 40%;
    border-radius: 5px;
}
#congo {
    color: #61003F;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 2vw;
    z-index: 9999;
    text-decoration: none;
    left: 2.5vw;
    width: 15vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    background-color: #FFF4F0;
    top: 40%;
    border-radius: 5px;
}
#start:hover {
    cursor: pointer;
}
#image {
    width: 20vw;
    height: 20vw;
    background-image: url(assets/puzzle/Car.png);
    background-size: 100%;
    position: relative;
}
.opacity {
    opacity: 0.5;
}
#image div {
    width: 5vw;
    height: 5vw;
    background-image: url(assets/puzzle/Car.png);
    background-repeat: no-repeat;
    position: absolute;
}
#counter {
    position: relative;
    left: 0;
    top: 1vw;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    grid-row: 1;
    grid-column: 1/2;
    display: none;
    margin: auto;
}
#clock {
    position: relative;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    grid-row: 2;
    grid-column: 1/2;
    display: none;
}
#counter span, #clock span {
    font-size: 2vw;
    float: left;
    color: #61003F;
    font-family: 'Roboto', sans-serif;
}
#counter p, #clock p {
    font-size: 1vw;
    margin: auto;
    color: #61003F;
    font-family: 'Roboto', sans-serif;
    font-weight: 300!important;
    margin-left: 5vw;
}
#seconds {
    position: relative;
    float: left;
    display: none;
    top: -3vw;
    grid-row: 3;
    grid-column: 1;
}
#seconds h {
    font-size: 1vw;
    position: relative;
    color: #61003F;
    font-family: 'Roboto', sans-serif;
    font-weight: 300!important;
}
#replay img {
    width: 2.5vw;
    margin: auto;
    padding-left: 1.5vw;
}
#replay p {
    width: 1.5vw;
    margin: auto;
}
#replay {
    margin: auto;
    color: #61003F;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300!important;
    display: none;
    grid-row: 1/3;
    grid-column: 3;
    left: 1vw;
}
.sq1 {
    background-size: 400%;
    background-position: 0 0;
}
.sq2 {
    background-position: 33% 0;
    background-size: 400%}
.sq3 {
    background-position: 66% 0;
    background-size: 400%}
.sq4 {
    background-position: 100% 0;
    background-size: 400%}
.sq5 {
    background-size: 400%;
    background-position: 0 33%}
.sq6 {
    background-position: 33% 33%;
    background-size: 400%}
.sq7 {
    background-size: 400%;
    background-position: 66% 33%}
.sq8 {
    background-size: 400%;
    background-position: 100% 33%}
.sq9 {
    background-position: 0 66%;
    background-size: 400%}
.sq10 {
    background-position: 33% 66%;
    background-size: 400%}
.sq11 {
    background-position: 66% 66%;
    background-size: 400%}
.sq12 {
    background-position: 100% 66%;
    background-size: 400%}
.sq13 {
    background-position: 0 100%;
    background-size: 400%}
.sq14 {
    background-position: 33% 100%;
    background-size: 400%}
.sq15 {
    background-position: 66% 100%;
    background-size: 400%}
.sq16 {
    background-position: 100% 100%;
    background-size: 400%}
#pos1 {
    top: 0;
    left: 0;
}
#pos2 {
    top: 0;
    left: 25%}
#pos3 {
    top: 0;
    left: 50%}
#pos4 {
    top: 0;
    left: 75%}
#pos5 {
    top: 25%;
    left: 0;
}
#pos6 {
    top: 25%;
    left: 25%}
#pos7 {
    top: 25%;
    left: 50%}
#pos8 {
    top: 25%;
    left: 75%}
#pos9 {
    top: 50%;
    left: 0;
}
#pos10 {
    top: 50%;
    left: 25%}
#pos11 {
    top: 50%;
    left: 50%}
#pos12 {
    top: 50%;
    left: 75%}
#pos13 {
    top: 75%;
    left: 0;
}
#pos14 {
    top: 75%;
    left: 25%}
#pos15 {
    top: 75%;
    left: 50%}
#pos16 {
    top: 75%;
    left: 75%}
.pointer {
    background-image: none!important;
    background-color: #61003F;
}
@media screen and (max-width:800px) {
    #counter span, #clock span {
    font-size: 3vw;
}
#counter p, #clock p, #replay {
    font-size: 3.2vw;
}
}@media screen and (max-width:800px) {
    .puzzle {
    position: relative;
    top: 2vh;
    left: -31vw;
    width: 60vw;
    height: 60vw;
    border-style: solid;
    border-width: 5px;
    border-color: #61003F;
}
#puzzle-controls {
    position: relative;
    margin: 2%;
    width: 60vw;
    top: 4vh;
    left: -31vw;
}
#start {
    color: #61003F;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300!important;
    position: absolute;
    font-size: 7vw;
    z-index: 9999;
    text-decoration: none;
    width: 55vw;
    text-align: center;
    top: 37%;
    background-color: #FFF4F0;
    left: 2vw;
    border-radius: 5px;
}
#congo {
    color: #61003F;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300!important;
    position: absolute;
    font-size: 7vw;
    z-index: 9999;
    text-decoration: none;
    width: 55vw;
    text-align: center;
    top: 37%;
    background-color: #FFF4F0;
    left: 2vw;
    border-radius: 5px;
}
#image {
    width: 60vw;
    height: 60vw;
    background-image: url(assets/puzzle/Car.png);
    background-size: 100%;
    position: relative;
}
.opacity {
    opacity: 1;
}
#image div {
    width: 15vw;
    height: 15vw;
    background-image: url(assets/puzzle/Car.png);
    background-repeat: no-repeat;
    position: absolute;
}
#counter {
    position: relative;
    left: 0;
    top: 1vw;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: none;
    margin: auto;
    padding-left: 2vw;
}
#clock {
    position: relative;
    left: 0vw;
    top: 1vw;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: none;
    margin-top: 2vw;
    padding-left: 2vw;
}
#counter span, #clock span {
    font-size: 180%;
    float: left;
    color: #61003F;
    font-family: 'Roboto', sans-serif;
    font-weight: 300!important;
}
#counter p, #clock p {
    margin: auto;
    color: #61003F;
    font-family: 'Roboto', sans-serif;
    margin-top: 1vw;
    margin-left: 15vw;
    position: relative;
    left: 20%}
#counter p {
    left: 13%}
#seconds {
    position: inherit;
    float: left;
    display: none;
    left: 1vw;
}
#seconds h {
    font-size: 3vw;
    position: relative;
    color: #61003F;
    font-family: 'Roboto', sans-serif;
    font-weight: 300!important;
    top: 3vw;
}
#replay img {
    width: 8vw;
    margin: auto;
    padding-left: 7.5vw;
}
#replay {
    margin: auto;
    color: #61003F;
    position: relative;
    left: 0vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300!important;
    float: right;
    display: none;
    padding-top: 1vw;
}
}@media screen and (min-width:800px) {
    body {
    margin: 0;
    background-color: #FFF4F0;
    overflow: hidden;
}
.full_container {
    margin: 0;
    background-color: #FFF4F0;
    overflow: hidden;
}
.left_container {
    width: 12%;
    height: 100vh;
    margin: 0;
    float: left;
    background-color: #FFF4F0;
    z-index: 10;
}
.center_container {
    width: 76%;
    height: 100vh;
    margin: 0;
    float: left;
    -webkit-transform: skew(19deg);
    transform: skew(19deg);
    background-color: #fff;
}
.center_anti {
    -webkit-transform: skew(-19deg);
    transform: skew(-19deg);
}
.right_container {
    width: 12%;
    height: 100vh;
    margin: 0;
    float: left;
    background-color: #FFF4F0;
}
}.vertical-dashed-line {
    border: 0.5px dashed #61003F;
}
.line {
    width: 0;
}
#logo {
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    width: 60%;
    height: auto;
}
@media screen and (max-width:800px) {
    body {
    margin: 0;
    background-color: #FFF4F0;
    overflow-y: visible;
}
#logo {
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    width: 50%;
    height: auto;
    z-index: 1;
}
.full_container {
    width: 100vw;
    display: grid;
    grid-template-columns: 50vw 50vw;
    height: auto;
}
.center_container {
    grid-column: 1/3;
    width: 100vw;
    height: auto;
    background-color: #fff;
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
}
.center_anti {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
}
.left_container {
    grid-column: 1;
    grid-row: 2;
    width: 50vw;
    height: 80vh;
    margin: 0;
    background: linear-gradient(-15deg, #FFF4F0 70%, white 70%, #fff 100%);
    z-index: 1;
    overflow-x: visible;
}
.right_container {
    background: linear-gradient(-15deg, #FFF4F0 80%, white 80%, #fff 100%);
    grid-column: 2;
    grid-row: 2;
    width: 50vw;
    height: 80vh;
    z-index: 1;
    background-color: #FFF4F0;
}
}