.button_container {
	width: 60vw
}

.button {
	border: 2px solid #61003F;
	font-size: 1.2vw;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	padding: 0.5vw 1.2vw;
	color: #61003F;
	margin: 3vw;
	transition: all 1s ease;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 300
}

.button {
	background: #fff;
	position: relative;
	overflow: hidden
}

.button:hover {
	color: #fff;
	cursor: pointer
}

.button:after {
	color: #61003F;
	content: '';
	position: absolute;
	width: 115%;
	height: 200px;
	background: #940060;
	transform: translateY(-45%) skew(25deg) scale(0);
	left: -8%;
	transition: 100ms ease-in-out
}

.button:hover:after {
	transform: translateY(-45%) skew(25deg) scale(1);
	color: #fff
}

.button span {
	position: relative;
	z-index: 1
}

@media screen and (max-width:800px) {
	.button {
		border: 2px solid white;
		font-size: 15px;
		padding: 2.5vw 4.2vw;
		color: white;
		margin: 3vw;
		transition: all 1s ease;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase
	}
	.button {
		background: #61003F;
		position: relative;
		overflow: hidden
	}
	.button:hover {
		color: #61003F;
		cursor: pointer
	}
	.button:after {
		color: #61003F;
		content: '';
		position: absolute;
		width: 115%;
		height: 200px;
		background: #fff;
		transform: translateY(-45%) skew(25deg) scale(0);
		left: -8%;
		transition: 200ms ease-in-out
	}
	.button:hover:after {
		transform: translateY(-45%) skew(25deg) scale(1);
		color: #61003F
	}
	.button span {
		position: relative;
		z-index: 1
	}
}

@keyframes zoom {
	from {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	animation-name: zoom;
	animation-duration: 0.5s
}

.modal-content {
	background-color: #F0F0F0;
	margin: 15% auto;
	border: none;
	width: 50%;
	padding: 0%
}

.modal-header {
	positon: relative;
	width: 94%;
	height: 3vh;
	margin: 0;
	padding: 1%;
	background-color: #630042;
	color: white;
	padding: 3%
}

.modal-body {
	padding: 2%
}

.close {
	float: right;
	background-color: unset;
	border: none;
	color: #FFF4F0;
	font-size: 30px;
	margin-top: -1%
}

.close:hover {
	cursor: pointer
}

.eventName {
	float: left
}

.mainContent {
	padding: 3%
}

li {
	padding: 0;
	margin: 0;
	text-align: left
}

a {
	text-decoration: none;
	color: #DB4C1C
}

.modal-title {
	font-size: 20px;
	padding: 0;
	margin: 0
}

@media screen and (max-width:800px) {
	.modal-content {
		width: 80%;
		font-size: 16px;
		margin: 50% auto
	}
}

.full_container {
	background: linear-gradient(65deg, #FFF4F0 30%, #fff 30%, #fff 80%, #FFF4F0 80%, #FFF4F0 100%)
}

.cs {
	width: 50vw;
	margin: auto
}

.navbar {
	position: absolute;
	background: none
}

.hero_content {
	margin: auto;
	margin-bottom: 5vw;
	padding-top: 7.5vw;
	width: 60vw;
	color: #61003F;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 1.2vw;
	font-weight: 300
}

.glitch {
	width: 90%;
	margin-bottom: 3vw
}

.main_content {
	display: flow-root;
	width: 100vw;
	color: #29001B;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 1.2vw;
	font-weight: 300
}

.button_container {
	width: 100vw
}

.block {
	display: block
}

.tabcontent {
	display: none;
	width: 96vw;
	margin: auto;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	box-sizing: border-box
}

.event_solo {
	width: 20vw;
	float: left;
	margin-left: 1vw;
	margin-right: 1vw;
	padding: 5vw
}

.card {
	box-sizing: border-box;
	width: 30%;
	margin: 1.666%;
	padding: 15px;
	border: 1px solid #61003F;
	position: relative;
	color: #fff;
	background-color: #fff
}

.card__head img {
	width: 100%;
	height: auto
}

.card__logo {
	width: 100px;
	height: 100px;
	background-color: #777;
	position: absolute;
	right: 20px;
	bottom: 10px;
	border-radius: 50%
}

.card__title {
	font-size: 31px;
	font-weight: 600;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: #61003F;
	position: absolute;
	background-color: #fff;
	bottom: 45px;
	padding-right: 15px;
	padding-top: 15px;
	text-align: left
}

.card__subtitle {
	font-size: 24px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: #61003F;
	text-align: left
}

.mobBtn {
	display: none
}

.ideate-img {
	width: 50%;
	margin: auto;
	height: auto
}

.ideate-text {
	width: 70%;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 10%
}

@media screen and (max-width:800px) {
	.deskBtn {
		display: none
	}
	.mobBtn {
		display: block
	}
	.tabcontent {
		-ms-flex-pack: center;
		justify-content: center
	}
	.hero_content {
		width: 85vw
	}
	.card {
		width: 80%
	}
	.card__title {
		font-size: 25px;
		bottom: 35px
	}
	.card__subtitle {
		font-size: 15px
	}
	.card__logo {
		width: 65px;
		height: 65px
	}
	.ideate-img {
		width: 90%;
		margin: auto;
		height: auto;
		margin-top: 5%
	}
	.ideate-text {
		width: 70%;
		text-align: center;
		font-size: 14px;
		margin: auto;
		margin-top: 5%;
		margin-bottom: 10%
	}
}