.button_container {
    width: 60vw
}

.button {
    border: 2px solid #61003F;
    font-size: 1.2vw;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 0.5vw 1.2vw;
    color: #61003F;
    margin: 3vw;
    transition: all 1s ease;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300
}

.button {
    background: #fff;
    position: relative;
    overflow: hidden
}

.button:hover {
    color: #fff;
    cursor: pointer
}

.button:after {
    color: #61003F;
    content: '';
    position: absolute;
    width: 115%;
    height: 200px;
    background: #940060;
    transform: translateY(-45%) skew(25deg) scale(0);
    left: -8%;
    transition: 100ms ease-in-out
}

.button:hover:after {
    transform: translateY(-45%) skew(25deg) scale(1);
    color: #fff
}

.button span {
    position: relative;
    z-index: 1
}

@media screen and (max-width:800px) {
    .button {
        border: 2px solid white;
        font-size: 15px;
        padding: 2.5vw 4.2vw;
        color: white;
        margin: 3vw;
        transition: all 1s ease;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase
    }

    .button {
        background: #61003F;
        position: relative;
        overflow: hidden
    }

    .button:hover {
        color: #61003F;
        cursor: pointer
    }

    .button:after {
        color: #61003F;
        content: '';
        position: absolute;
        width: 115%;
        height: 200px;
        background: #fff;
        transform: translateY(-45%) skew(25deg) scale(0);
        left: -8%;
        transition: 200ms ease-in-out
    }

    .button:hover:after {
        transform: translateY(-45%) skew(25deg) scale(1);
        color: #61003F
    }

    .button span {
        position: relative;
        z-index: 1
    }
}

.full_container {
    background: linear-gradient(65deg, #FFF4F0 30%, #fff 30%, #fff 80%, #FFF4F0 80%, #FFF4F0 100%)
}

.navbar {
    position: absolute;
    background: none
}

.hero_content {
    margin: auto;
    margin-bottom: 5vw;
    padding-top: 7.5vw;
    width: 60vw;
    color: #61003F;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    font-weight: 300
}

.glitch {
    width: 100%;
    margin-bottom: 5vw
}

.main_content {
    display: flow-root;
    width: 60vw;
    color: #61003F;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    font-weight: 300
}

.glitch {
    color: #61003F;
    font-size: 6vw;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500
}

.bg1 {
    width: 14vw;
    bottom: 0vw;
    left: 6vw
}

.bg2 {
    width: 15vw;
    top: 10vw;
    right: 4vw
}

@media screen and (max-width:800px) {
    .hero_content {
        font-size: 14px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-weight: 300
    }

    .glitch {
        padding-bottom: 10vw
    }

    .main_content {
        font-size: 14px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-weight: 300
    }

    .mbg1 {
        margin-top: 10vw;
        margin-bottom: 10vw
    }
}
