.button_container {
    width: 60vw
}

.button {
    border: 2px solid #61003F;
    font-size: 1.2vw;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 0.5vw 1.2vw;
    color: #61003F;
    margin: 3vw;
    transition: all 1s ease;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300
}

.button {
    background: #fff;
    position: relative;
    overflow: hidden
}

.button:hover {
    color: #fff;
    cursor: pointer
}

.button:after {
    color: #61003F;
    content: '';
    position: absolute;
    width: 115%;
    height: 200px;
    background: #940060;
    transform: translateY(-45%) skew(25deg) scale(0);
    left: -8%;
    transition: 100ms ease-in-out
}

.button:hover:after {
    transform: translateY(-45%) skew(25deg) scale(1);
    color: #fff
}

.button span {
    position: relative;
    z-index: 1
}

@media screen and (max-width:800px) {
    .button {
        border: 2px solid white;
        font-size: 15px;
        padding: 2.5vw 4.2vw;
        color: white;
        margin: 3vw;
        transition: all 1s ease;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase
    }

    .button {
        background: #61003F;
        position: relative;
        overflow: hidden
    }

    .button:hover {
        color: #61003F;
        cursor: pointer
    }

    .button:after {
        color: #61003F;
        content: '';
        position: absolute;
        width: 115%;
        height: 200px;
        background: #fff;
        transform: translateY(-45%) skew(25deg) scale(0);
        left: -8%;
        transition: 200ms ease-in-out
    }

    .button:hover:after {
        transform: translateY(-45%) skew(25deg) scale(1);
        color: #61003F
    }

    .button span {
        position: relative;
        z-index: 1
    }
}

.hero {
    background: #61003F
}

.hero_content {
    margin: auto;
    margin-bottom: 5vw;
    padding-top: 7.5vw;
    width: 60vw;
    color: #FFF4F0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    font-weight: 300
}

.glitch {
    width: 100%;
    margin-bottom: 3vw
}

.main_content {
    display: flow-root
}

.main_title {
    color: #61003F;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    margin-top: 5vw
}

.text {
    color: #fff;
    font-family: 'Roboto', Arial, Helvetica, sans-serif
}

.text .link {
    color: #DB4C1C;
    text-decoration: none
}

.companies {
    display: flow-root;
    width: 60vw;
    margin: auto;
    background: #FFF4F0
}

.companies .each {
    width: 15vw;
    height: 5vw;
    margin: 2.5vw;
    float: left
}

@media screen and (max-width:800px) {
    .hero {
        padding-bottom: 5vw;
        margin-bottom: 5vw
    }

    .hero_content {
        font-size: 14px;
        width: 80vw
    }

    .main_title {
        font-size: 5vw
    }

    .glitch {
        margin-bottom: 10vw
    }

    .button_container {
        margin-bottom: 10vw;
        margin-top: 10vw
    }

    .companies {
        width: 90vw
    }

    .companies .each {
        width: 85vw;
        height: auto;
        float: left
    }
}
