
.gold-color{
    color:#ebbf79;
}
.navslide {
    width: 90vw;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    margin: auto
}

#carousel {
    position: relative;
    grid-column: 2;
    grid-row: 1;
    height: 15vw;
    overflow: hidden
}

#carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1
}

#carousel div img {
    height: 13vw;
    width:auto;
    transition: height 1s
}

#carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(10%) translateX(-50%)
}

#carousel div.hideLeft img {
    height: 3vw
}

#carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(10%) translateX(-50%)
}

#carousel div.hideRight img {
    height: 3vw
}

#carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateX(-50%) translateY(25%)
}

#carousel div.prev img {
    height: 10vw
}

#carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(75%) translateX(-50%);
    opacity: 0.7
}

#carousel div.prevLeftSecond img {
    height: 5vw
}

#carousel div.selected {  
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%)
}

#carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateX(-50%) translateY(25%)
}

#carousel div.next img {
    height: 10vw
}

#carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(75%) translateX(-50%);
    opacity: 0.7
}

#carousel div.nextRightSecond img {
    height: 5vw
}

.nxt {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid #f1f1f1;
    border-bottom: 25px solid transparent;
    grid-column: 3;
    grid-row: 1;
    margin: auto
}

.prv {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid #f1f1f1;
    border-bottom: 25px solid transparent;
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    z-index: 1
}



@media screen and (max-width:800px) {
    .logo {
        padding: 0.3rem;
		height: 4vh;
        width: 100vw;
    }
    .nxt {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-left: 30px solid #f1f1f1;
        border-bottom: 15px solid transparent;
        grid-column: 3;
        grid-row: 1;
        margin: auto
    }

    .prv {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 30px solid #f1f1f1;
        border-bottom: 15px solid transparent;
        grid-column: 1;
        grid-row: 1;
        margin: auto;
        z-index: 1
    }
}

@media screen and (max-width:800px) {
    #carousel {
        position: relative;
        grid-column: 2;
        grid-row: 1;
        height: 50vw;
        overflow: hidden
    }

    #carousel div {
        position: absolute;
        transition: transform 1s, left 1s, opacity 1s, z-index 0s;
        opacity: 1
    }

    #carousel div img {
        height: 50vw;
        transition: height 1s
    }

    #carousel div.hideLeft {
        left: 0%;
        opacity: 0;
        transform: translateY(10%) translateX(-50%)
    }

    #carousel div.hideLeft img {
        height: 3vw
    }

    #carousel div.hideRight {
        left: 100%;
        opacity: 0;
        transform: translateY(10%) translateX(-50%)
    }

    #carousel div.hideRight img {
        height: 3vw
    }

    #carousel div.prev {
        left: 0%;
        opacity: 0;
        transform: translateY(10%) translateX(-50%)
    }

    #carousel div.prev img {
        height: 3vw
    }

    #carousel div.prevLeftSecond {
        left: 0%;
        opacity: 0;
        transform: translateY(10%) translateX(-50%)
    }

    #carousel div.prevLeftSecond img {
        height: 3vw
    }

    #carousel div.selected {
        z-index: 10;
        left: 50%;
        transform: translateY(0px) translateX(-50%)
    }

    #carousel div.next {
        left: 100%;
        opacity: 0;
        transform: translateY(10%) translateX(-50%)
    }

    #carousel div.next img {
        height: 3vw
    }

    #carousel div.nextRightSecond {
        left: 100%;
        opacity: 0;
        transform: translateY(10%) translateX(-50%)
    }

    #carousel div.nextRightSecond img {
        height: 3vw
    }
}

.card {
    border: 1px solid #29001B;
    background-color: white;
    position: relative;
    width: 30%;
    padding: 1%;
    padding-bottom: 5%
}

.card-image {
    position: relative;
    width: 100%;
    height: auto;
    top: 2%;
    margin: auto
}

.cardimg {
    position: relative;
    width: 100%;
    height: auto
}

.card-text {
    background-color: white;
    border: none;
    position: absolute;
    width: 55%;
    bottom: 0%
}

.card-text h1 {
    color: #29001B;
    font-size: 28px;
    position: relative;
    text-align: left;
    top: -10px
}

.card-text h4 {
    color: #29001B;
    position: relative;
    text-align: left;
    font-weight: normal;
    top: -10%
}

img {
    width: 100%;
    height: auto
}

.timeline {
    width: 90%;
    list-style: none;
    padding: 2vw 0 2vw;
    position: relative;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.8vw
}

.timeline:before {
    background-image: url('../images/images2019/timeline.png');
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    left: 50%;
    margin-left: -1px;
    width:12vh;
    height:180vh;
    background-repeat: no-repeat;
    background-size: contain;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table
}

.timeline > li:after {
    clear: both
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table
}

.timeline > li:after {
    clear: both
}

.timeline > li > .timeline-panel {
    display: -ms-flexbox;
    display: flex;
    width: 43%;
    float: left;
   
    border-radius: 2px;
    padding: 20px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175)
}

.timeline > li > .timeline-badge {
    color: #f1f1f1;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
    border-left:5em;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}

.timeline-title {
    margin-top: 0;
    color: inherit;
    width: 12vw
}

.timeline-title > img {
    width: 100%
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0
}

.timeline-body > p + p {
    margin-top: 5px
}
z
.timeline > li.timeline-inverted > .timeline-panel > .timeline-body > p {
    margin-left: 10px
}

.timeline > li.timeline > .timeline-panel > .timeline-body > p {
    margin-right: 10px
}

.timeline .timeline-body {
    text-align: right
}

.timeline-inverted .timeline-body {
    text-align: left
}

.timeline-body {
    position: relative
}

.timeline-body-center {
    padding: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.tlogo {
    top: 5vw;
    position: relative;
    width: 10vw
}
.mob_time{
    display: none;
}

@media screen and (max-width:800px) {
    .img_timeline{
        display: none;
    }
    .mob_time{
        display: block;
    }
    
    .timeline > li > .timeline-panel {
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0;
        width: 45%;
        font-size: 12px
    }

    .timeline-body-center {
        padding: 5px;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%)
    }

    .timeline > li > .timeline-panel > .timeline-body {
        -ms-flex-order: 10;
        order: 10
    }

    .tlogo {
        top: 15vw;
        position: relative;
        width: 30vw
    }

    .timeline > li > .timeline-badge {
        font-size: 4vw;
        text-align: center;
        position: absolute;
        top: 16px;
        left: 50%;
        margin-left: -26px
    }

    .timeline {
        padding-top: 40vw;
        width: 90vw
    }
}

.button_container {
    width: 60vw
}

.button {
/*    border: 2px solid #61003F;*/
    font-size: 1.2vw;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 0.5vw 1.2vw;
    color: #29001B;
    margin: 3vw;
    transition: all 100ms ease;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300
}

.button {
    background: #29001B;
    COLOR:#FFF;
    position: relative;
    overflow: hidden
}

.button:hover {
    color: #61003F;
    cursor: pointer
}

.button:after {
    color: #61003F;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateY(-100%);
    left: 0;
    top: 0;
    transition: 100ms ease-in-out
}

.button:hover:after {
    transform: translateY(0);
    color: #29001B;
}

.button span {
    position: relative;
    z-index: 1
}

@media screen and (max-width:800px) {
    .button {
        border: 2px solid white;
        font-size: 15px;
        padding: 2.5vw 4.2vw;
        color: #61003F;
        margin: 3vw;
        transition: all 100ms ease;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase
    }

    .button {
        background: #29001B;
        color:#fff;
        position: relative;
        overflow: hidden
    }

    .button:hover {
        color: #29001B;
        cursor: pointer
    }

    .button:after {
        color: #29001B;
        content: '';
        position: absolute;
        width: 115%;
        height: 500px;
        background: #fff;
        transform: translateY(-100%);
        left: 0;
        top:0;
        transition: 200ms ease-in-out
    }

    .button:hover:after {
        transform: translateY(0);
        color: #29001B
    }

    .button span {
        position: relative;
        z-index: 1
    }
}

/*
.full_container {
    background: repeating-linear-gradient(15deg, #FFF4F0, #FFF4F0 20%, #fff 20%, #fff 40%, #FFF4F0 40%, #FFF4F0 55%, #fff 55%, #fff 65%, #FFF4F0 65%, #FFF4F0 80%, #fff 80%, #fff 100%)
}
*/
.full_container{
    background:  #29001B;
    color:#f1f1f1;
}

.bg1 {
    width: 10vw;
    top: 100vw;
    left: 10vw
}

.bg2 {
    width: 15vw;
    top: 100vw;
    right: 4vw
}

.bg3 {
    width: 10vw;
    top: 164vw;
    left: 4vw
}

.bg4 {
    width: 18vw;
    top: 146vw;
    right: 4vw
}

.bg5 {
    width: 18vw;
    transform: translateX(-11vw) translateY(26vw)
}

.bg6 {
    width: 7vw;
    top: 199vw;
    right: 5vw
}

.bg7 {
    width: 7vw;
    position: absolute;
    transform: translateX(-3vw) translateY(-6vw)
}

.glitch {
    padding-top: 7.5vw
}

.glitch {
    width: 40%
}

.vid {
    display: block;
    width: 100%
}

.gif {
    display: none
}

#main_title {
    font-weight: 500;
    display: -webkit-inline-box;    
        color:#ebbf79;
}

#title {
    font-weight: 400;
    display: -webkit-inline-box
}

#desc {
    font-weight: 300;
    display: -webkit-inline-box
}

.about_cards {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    font-weight: 300;
    width: 90vw;
    color: #f1f1f1;
}

.about_cards #acard1 {
    padding-right: 7.5vw;
    padding-left: 5vw;
    display: -ms-flexbox;
    display: flex;
    margin: 5% 5%;
    padding-top: 5%;
  
}

.about_cards #acard1 span {
    text-align: right;
    padding-right: 2vw;
    font-size: 1vw;
    float: left
}

.about_cards #acard2 {
    padding-left: 7.5vw;
    padding-right: 5vw;
    display: -ms-flexbox;
    display: flex;
    margin: 5% 5%;
    padding-bottom: 5%;
  
}

.about_cards #acard2 span {
    text-align: left;
    padding-left: 2vw;
    font-size: 1vw;
    float: left
}

.about_cards img {
    width: 25vw
}

.timelinee {
    margin: auto;
    margin-bottom: 5vw;
    width: 75vw
}

.organization {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #29001B;
    width: 70vw;
    margin-top: 30vw
}

.organization .org_img {
    width: 80%;
    height: auto;
    display: flow-root
}

.organization .org_img #left {
    width: 40%;
    float: left;
    margin: auto;
    padding: 0%;
    margin-top: 7%
}

.organization .org_img #right {
    width: 40%;
    padding: 2% 5%;
    float: right;
    margin: auto;
    border-left: 2px solid #29001B
}

.organization .org_text {
    width: 90%;
    margin: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding-top: 2vw
}

.orgName {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 5vw;
    float: left;
    text-align: left
}

.hideText {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2vw;
    align: left;
    float: left
}

.phonehide {
    display: none
}

.pchide {
    display: block
}

@media screen and (max-width:700px) {
    .timelinee {
        width: 90vw
    }

    .vid {
        display: none
    }

    .gif {
        display: block;
        width: 100%
    }
}

#orange {
    color: #DB4C1C;
}

.parvaah {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: 400;
    color: #29001B;
    width: 70vw;
    margin-top: 10vw
}

.parvaah .parvaah_img {
    height: 30vw
}

.parvaah .parvaah_img #left {
    width: 29%;
    float: left;
    margin: auto;
    padding: 2% 10%
}

.parvaah .parvaah_img #right {
    width: 40%;
    padding: 2% 5%;
    float: right;
    margin: auto;
    border-left: 2px solid #f1f1f1;
}

.parvaah .parvaah_text {
    width: 70%;
    margin: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding-top: 2vw;
    color:#f1f1f1;
}

.contact {
    width: 62.5vw;
    margin: auto;
    color: #f1f1f1;
    margin-top: 7.5vw;
    padding-bottom: 7.5vw;
    display: -ms-flexbox;
    display: flex
}

.contact .reach {
    text-align: left;
    padding-left: 5vw;
    padding-top: 3vw;
    float: left;
}

.contact .reach #main_title {
    font-size: 2.5vw;
    margin-bottom: 1vw
}

.contact .reach #title {
    font-size: 1.5vw
}

.contact .reach #desc {
    font-size: 1.5vw;
    margin-bottom: 1vw
}

.map {
    overflow: hidden;
    width: 25vw;
    height: 0vw;
    padding-bottom: 25vw;
    position: relative;
    height: 0;
    float: left;
    border: 10px solid #f1f1f1;
}

.map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  
}

@media screen and (max-width:800px) {
    .glitch {
        padding-top: 100px;
        color: #29001B;
        font-size: 13vw;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-weight: 500;
        width: 100vw
    }

    .phonehide {
        display: block
    }

    .pchide {
        display: none
    }

    #orange {
        color: #DB4C1C
    }

    .navslide {
        padding-top: 10vw;
        padding-bottom: 10vw
    }

    .about_cards {
        padding-bottom:10vw;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 400;
        width: 90vw;
        color: #f1f1f1;
    }

    .about_cards #acard1 {
        padding-right: 7.5vw;
        padding-left: 5vw;
        display: grid;
        margin: 5% 5%;
        padding-top: 5%;
        border-right: none
    }

    .about_cards #acard1 span {
        padding-top: 15vw;
        text-align: center;
        padding-right: 2vw;
        float: right;
        font-size: 14px;
        width: 100%;
        grid-row: 2
    }

    .about_cards #acard1 #img {
        float: left;
        width: 100%;
        grid-row: 1
    }

    .about_cards #acard2 {
        padding-left: 7.5vw;
        padding-right: 5vw;
        padding-top: 30vw;
        display: grid;
        margin: 5% 5%;
        padding-bottom: 5%;
        border-left: none
    }

    .about_cards #acard2 span {
        padding-top: 15vw;
        text-align: center;
        padding-left: 2vw;
        grid-row: 2;
        font-size: 14px;
        float: left
    }

    .about_cards #acard2 #img {
        float: left;
        width: 100%;
        grid-row: 1
    }

    .about_cards img {
        width: 100%
    }

    .parvaah {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #29001B;
        width: 70vw;
        margin-top: 30vw
    }

    .parvaah .parvaah_img {
        height: auto;
        display: flow-root
    }

    .parvaah .parvaah_img #left {
        width: 100%;
        float: left;
        margin: auto;
        padding: 0%
    }

    .parvaah .parvaah_img #right {
        width: 39%;
        padding: 2% 5%;
        float: right;
        margin: auto;
        border-left: 2px dashed #29001B
    }

    .parvaah .parvaah_text {
        width: 70%;
        margin: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        padding-top: 2vw
    }

    .organization {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #29001B;
        width: 70vw;
        margin-top: 0vw
    }

    .organization .org_img {
        height: auto;
        display: flow-root
    }

    .organization .org_img #left {
        width: 100%;
        float: left;
        margin: auto;
        padding: 0%
    }

    .organization .org_img #right {
        width: 85%;
        padding: 2% 5%;
        float: right;
        margin: auto;
        border-left: none
    }

    .organization .org_text {
        width: 90%;
        margin: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        padding-top: 2vw
    }

    .orgName {
        font-size: 8vw;
        margin-left: -15%
    }

    .pb {
        padding-top: 10vw;
        padding-bottom: 10vw
    }

    .contact {
        width: 80vw;
        margin: auto;
        color: #f1f1f1;
        margin-top: 40vw;
        padding-bottom: 7.5vw;
        display: grid
    }

    .contact .reach {
        text-align: left;
        padding-left: 0vw;
        padding-top: 3vw;
        padding-bottom: 15vw;
        margin: auto;
        grid-row: 1
    }

    .contact .reach #main_title {
        font-size: 25px;
        padding-bottom: 3vw;
        display: -webkit-inline-box
    }

    .contact .reach #title {
        font-size: 20px;
        display: -webkit-inline-box
    }

    .contact .reach #desc {
        font-size: 17px;
        margin-bottom: 5vw;
        display: -webkit-inline-box
    }

    .map {
        overflow: hidden;
        width: 70vw;
        height: 0vw;
        padding-bottom: 70vw;
        position: relative;
        height: 0;
        float: left;
        grid-row: 2;
        border: 5px solid #29001B
    }

    .map iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute
    }

    .hideText {
        display: none
    }
}
